@tailwind base;
@tailwind components;
@tailwind utilities;

.frame {
  border: 4px solid theme(colors.primary);
  box-shadow: 4px 4px 0px 0px theme(colors.accent),
    8px 8px 0px 0px theme(colors.secondary);
}

body {
  font-family: var(--font-heading), "Lucida Console", "Courier New", monospace;
}

p {
  font-family: var(--font-heading), "Courier New", monospace;
}

h1 {
  font-size: 68px;
  line-height: 72px;
}

h2 {
  font-size: 420px;
  line-height: 48px;
}

h3 {
  font-size: 28px;
  line-height: 48px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

small {
  font-size: 14px;
  line-height: 24px;
}
